
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(1, 1, 1, 0.9);
    background-image: url(https://64.media.tumblr.com/9c738aace476b66e13e2c1d9918a2a9a/2dfdaa3dd905833e-25/s1280x1920/169850162852619f241f9512cb73ebf7275e64f0.png);
}
h1{
     font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(70, 255, 13);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}
.buttons{
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    width:60%;
    margin: 1rem auto;
    gap: 2vw;
}
#eraser{
    font-family: "Electrolize", sans-serif;
    color: rgb(225, 218, 218);
    border: 2px solid rgb(225, 218, 218);
    background-color: rgba(1, 1, 1, 0.9);
    padding: 10px;
    border-radius: 0.3rem; */

}
#create-grid{
    font-family: "Electrolize", sans-serif;
    border: 2px solid rgb(50, 206, 234);
    padding: 10px;
    color: rgb(50, 206, 234);
    background-color: rgba(1, 1, 1, 0.9);
    border-radius: 0.3rem;
    margin-right: 0.3rem;
    flex-grow: 1;
}
#reset-button{
    font-family: "Electrolize", sans-serif;
    border: 2px solid rgb(233, 16, 60);
    color: rgb(233, 16, 60);
    background-color: rgba(1, 1, 1, 0.9);
    border-radius: 0.3rem;
    padding: 10px;
    flex-grow: 1;
}
#toggle-button{
    font-family: "Electrolize", sans-serif;
    border: 2px solid rgb(70, 255, 13);
    color: rgb(70, 255, 13);
    background-color: rgba(1, 1, 1, 0.9);
    border-radius: 0.3rem;
    padding: 10px;
    flex-grow: 3;
}
.canvas{
    border: 2px solid rgb(70, 255, 13);
    border-radius: 0.3rem;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
}
.erase{
    background-color: blue;
    border: 3px solid red;
}